<h1>Ask me anything!</h1>

<%= live_component @socket, AskMeAnythingWeb.QuestionLive.FormComponent,
  id: :new,
  question: @question,
  changeset: @changeset,
  questions: @questions %>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Author</th>
      <th>Thumb</th>
    </tr>
  </thead>
  <tbody id="questions">
    <%= for question <- @questions do %>
      <tr id="question-<%= question.id %>">
        <td><%= question.question %></td>
        <td><%= question.author %></td>
        <td><button type="button">👍</button><%= question.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
